*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 50px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.form-title {
    text-align: center;
    font-size: 25px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 15px;
    color: #333;
}

.form-group textarea {
    resize: vertical;
    min-height: 102px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition:  background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.back-link {
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    transition: color 0.3s ease;
}

.back-link:hover {
    color:#0056b3;
    text-decoration: underline;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}