
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}


.page-title {
    font-size: 2.5em;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}


.product-name {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}


.product-description {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 15px;
}


.product-price {
    font-size: 1.5em;
    color: #27ae60;
    margin-bottom: 20px;
}


.edit-btn, .delete-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 30px;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.edit-btn {
    background-color: #2196f3;
    color: white;
}

.edit-btn:hover {
    background-color: #1976d2;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.delete-btn:hover {
    background-color: #d32f2f;
}



.add-product-btn {
    background-color: #1d961d;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 120px;
    display: block;
    text-align: center;
}

.add-product-btn:hover {
    background-color: #2d850b94;
}


label[for="sort"] i {
    margin-right: 5px;
    color: #555;
}

form {
    margin-bottom: 20px;
}

label[for="sort"] {
    font-weight: bold;
    margin-right: 10px;
}

select#sort {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: all 0.3s ease;
}

select#sort:hover {
    border-color: #888;
    background-color: #eaeaea;
}


.filteri {
    display: flex;
    gap: 20px; 
    align-items: center; 
    margin-bottom: 20px; 
    justify-content: center;
}

.filteri form {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.filteri label {
    font-size: 14px;
    margin-right: 5px; 
}

#category, #sort {
    padding: 5px;
    font-size: 14px;
    width: 200px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 5px 15px;
    background-color: #14a30f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

button:hover {
    background-color: #3899488a;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.search-form input {
    padding: 5px;
    font-size: 14px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 40px;
    height: 38px;
}

.search-form button {
    padding: 5px 15px;
    background-color: #04531c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 40px;
    height: 38px;
}

.search-form button:hover {
    background-color: #19740e70;
}
